{% extends 'inventory/base.html' %}

{% block content %}


    <div class = "swap_buttons" style="width: 100%; " >
        <div class = "button-group" style="float:left; width: 10%; ">
            <a href="{% url 'linux' %}" class="btn btn-primary btn-md" role="button" aria-pressed="true" style="">  Linux </a>
            <a href="{% url 'addnew_linux' %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true"> Add new</a>
        </div>
        <div class = "button-group" style="float:left; width: 10%;">
            <a href="{% url 'windows' %}" class="btn btn-primary btn-md" role="button" aria-pressed="true"> Windows</a>
            <a href="{% url 'addnew_windows' %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true"> Add new</a>
        </div>
        <div class = "button-group" style="float:left; width: 10%; padding-left: 20px;">
            <a href="{% url 'network' %}" class="btn btn-primary btn-md" role="button" aria-pressed="true"> Network</a>
            <a href="{% url 'addnew_network' %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true"> Add new</a>
        </div>
    </div>

    <div>
        <h4 id = "table_display" style="font: bold 20px verdana;">{{ header }}</h4>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>IP Address</th>
            <th>Info1</th>
            <th>Hostname</th>
            <th>Able to Ping</th>
            <th>Able to Login</th>
            <th>Physical or VM</th>
            {% for product in products|slice:"1" %}
            <th><a href="{% url 'update_status' product.type %}" class="status-button" role="button" aria-pressed="true" > Status </a> </th>
            {% endfor %}
            <th>Issues</th>
        </tr>
        </thead>

        <tbody>
        {% for product in products %}

            <tr>
                <th>
                    <a href="{% url 'detail' product.pk %}">
                        {{ product.pk }}
                    </a>
                </th>
                <td>{{ product.ip_address }}</td>
                <td>{{ product.info }}</td>
                <td>{{ product.hostname }}</td>
                <td>{{ product.able_to_ping }}</td>
                <td>{{ product.able_to_login }}</td>
                <td>{{ product.physical_or_vm }}</td>
                {% if product.status == "False" %}
                <td>
                    <button class="round-button-false" style="border-radius: 50%"></button>
                </td>
                {% else %}
                <td>
                    <button class="round-button-true" style="border-radius: 50%"></button>
                </td>
                {% endif %}
                <td>{{ product.issues }}</td>
                <td>
                    <a href="{% url 'delete' product.pk product.type %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" style="border-radius: 50%"> x</a>
                </td>



            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}

