
body {
  padding-top: 5rem;
}

.starter-template {
  padding: .5rem 1.5rem;
  text-align: center;
}


.buttion_place{
    padding-left: 80%;
    padding-bottom: 50px;

}

.product_heder{
    text-align: center;
    padding-bottom: 50px;
}

#table_display {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.button-group{
    text-align: center;
    text-decoration: none;
    display: table;
    padding: 10px 24px;

}

.round-button-false {
    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 4px 2px;
    border-radius: 50%
}

.round-button-true {
    background-color: green;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 4px 2px;
    border-radius: 50%
}

.status-button{

    background-color: none;
    border: 2px solid #000000;;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    border-radius: 50%
}