
body {
  padding-top: 5rem;
}

.starter-template {
  padding: .5rem 1.5rem;
  text-align: center;
}


.buttion_place{
    padding-left: 80%;
    padding-bottom: 50px;

}

.product_heder{
    text-align: center;
    padding-bottom: 50px;
}

#table_display {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.button-group{
    text-align: center;
    text-decoration: none;
    display: table;
    padding: 10px 24px;

}